<!--<div class="div-class-custom">-->
<!--  <td>-->
<!--    <img src="././assets/pictures/logo.png" alt="logo" class="logo-image">-->
<!--    <p-button aria-placeholder="Пользователь" tyleClass="p-button-link" class="button-account">-->
<!--      <img src="././assets/pictures/account.png" alt="account" width="20" height="20">-->
<!--    </p-button>-->
<!--  </td>-->
<!--  <td>-->
<!--    <p-button label="Logout" styleClass="p-button-link" class="button-output">-->
<!--      <img src="././assets/pictures/output.png" alt="logout" width="30" height="30">-->
<!--    </p-button>-->
<!--  </td>-->
<!--</div>-->
<div class="flex card-container blue-container">
  <img src="../../../../assets/pictures/logo.png" alt="logo" class="logo-image">
</div>
