header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: skyblue;
  color: #fff;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  color: black;
}

.username {
  margin-right: 10px;
}

button {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}
