.main-header {
//background-color: var(--surface-200);
  background: #F8FAFC;
  box-shadow: 0px 20px 25px -5px #0000001A;

}
span {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

}
