<div class="logon">
  <p-card header="Вход" [style]="{ width: '400px' }"  >
    <div class="p-fluid">
      <span>Email*</span>
      <input
        [(ngModel)]="login"
        type="email"
        pInputText
        placeholder="Например user@domain.com"
        style="margin: 10px 0"
        required
      />
    </div>
    <div class="p-fluid">
      <span>Пароль*</span>
      <input
        [(ngModel)]="password"
        type="password"
        pInputText
        placeholder="Ваш пароль"
        style="margin: 10px 0"
        required
      />
    </div>
    <div class="recovery">
      <a href="#"> Забыли пароль? </a>
      <button pButton label="Войти" type="submit" (click)="loginAuth()" ></button>
    </div>
  </p-card>
</div>

