<div class="logon">
  <p-card header="Авторизация" [style]="{ width: '400px' }" >
    <div class="p-fluid">
      <div class="p-field">
        <div>Введите логин</div>
        <input class="p-inputtext-lg" type="text" pInputText [(ngModel)]="login" laceholder="Логин*"/>
      </div>
      <div class="p-field">
        <div>Введите пароль</div>
        <input class="p-inputtext-lg" type="text" pInputText [(ngModel)]="password" laceholder="Пароль*"/>
      </div>
    </div>
    <p-button label="Вход" styleClass="p-button-outlined" (click)="loginAuth()"></p-button>
  </p-card>
</div>
