<div class="card1 py-2">
  <p-breadcrumb [model]="coursesMenu" ></p-breadcrumb>
</div>

<div class="flex flex-column gap-2">
  <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input class="p-inputtext-lg" type="text" pInputText [(ngModel)]="searchValue" />
      <p-button icon="pi pi-search" styleClass="p-button-lg" (click)="searchClick()"></p-button>
      <p-button class="absolute right-0" label="Добавить курс" styleClass="p-button-lg" icon="pi pi-plus "></p-button>
    </span>
  <div *ngIf="show; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock><app-course  *ngFor="let course of data | orderBy " [course]="course" (editEvent)="editCourse(course)" (deleteEvent)="deleteCourse(course)" ></app-course></ng-template>
  <ng-template #elseBlock><h1 class="flex flex-wrap align-items-center justify-content-center">Нет данных для отображения</h1></ng-template>
  <p-button class="w-12 p-button-secondary p-button-lg flex align-items-center justify-content-center" [label]="'Загрузка курсов' | uppercase" (click)="loadCourse()"></p-button>
</div>
