<div class="card1 py-2">
  <p-breadcrumb [model]="coursesMenu" ></p-breadcrumb>
</div>

<div class="flex flex-column gap-2">
  <span class="p-input-icon-left">
      <app-search (search)="search($event)"></app-search>
      <p-button class="absolute right-0 absolute bottom-0" label="Добавить курс" styleClass="p-button-lg" icon="pi pi-plus " (click)="addCourse()"></p-button>
    </span>
  <div *ngIf="(courses$ | async) || [] as courses; else elseBlock" class="flex flex-column gap-2" >
    <app-course  *ngFor="let course of courses " [course]="course" (editEvent)="editCourse(course)" (deleteEvent)="confirmDeleteCourse(course)" ></app-course>
    <p-button class="w-12 p-button-secondary p-button-lg flex align-items-center justify-content-center" [label]="'Загрузка курсов' | uppercase" (click)="loadCourse()"></p-button>
  </div>
  <ng-template #elseBlock><app-not-found></app-not-found><p-button class="w-12 p-button-secondary p-button-lg flex align-items-center justify-content-center" (onClick)="resetFilters()">Сбросить фильтры</p-button></ng-template>
  </div>
<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="header" style="background-color: red; color: red; padding: 10px; text-align: center;">
    <div>Удаление курса</div>
  </ng-template>
  <ng-template pTemplate="footer" style="background-color: lightblue; text-align: center;">
    <button type="button" pButton icon="pi pi-times" label="Нет" (click)="cd.reject()" class="p-button p-button-success"></button>
    <button type="button" pButton icon="pi pi-check" label="Да" (click)="cd.accept()" class="p-button p-button-danger"></button>
  </ng-template>
</p-confirmDialog>
