<div class="card py-2">
  <p-breadcrumb [model]="coursesMenu" ></p-breadcrumb>
</div>
<div class="course">
  <p-card header="{{title}}" [style]="{ width: '500px' }" >
    <div class="flex flex-column card-container m-2">
      <div>Наименование*</div>
      <input type="text" pInputText [(ngModel)]="course.title" />
    </div>
    <div class="flex flex-column card-container m-2">
      <div>Описание*</div>
      <textarea rows="5" cols="50" pInputTextarea [(ngModel)]="course.description"></textarea>
    </div>
    <div class="flex flex-column card-container m-2">
      <div>Продолжительность*</div>
      <app-duration [(duration)]="course.duration"></app-duration>
    </div>
    <div class="flex flex-column card-container m-2">
      <div>Дата*</div>
      <p-calendar [(ngModel)]="course.creationDate" [showIcon]="true" dateFormat="dd.mm.yy"></p-calendar>
    </div>
    <div class="flex flex-column card-container m-2">
      <div>Авторы*</div>
      <app-author></app-author>
    </div>
    <div class="flex card-container m-2  ">
      <p-button label="Отмена" styleClass="p-button-secondary" (click)="cancel()"></p-button>
      <p-button label="Сохранить" (click)="save(course)"></p-button>
    </div>
  </p-card>
</div>
